@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Tajawal&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&display=swap');

:root{
  --tgreen:#4AD991;
  --tblue:#8280ff;
  --tred:#ff7285;
  --torange:#FFC483;
}






@font-face {
  font-family: "Apercu";
  font-style: normal;
  font-weight: 300;
  src: url(../styles/fonts/Apercu_Light.otf);
}
@font-face {
  font-family: "Objectiv";
  font-style: normal;
  font-weight: 100;
  src: url(../styles/fonts/Objective.ttf);
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  /* font-weight: 100; */
  src: url(../styles/fonts/Gilroy-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  --bg: white;
  --textNormal: hsl(0, 0%, 45%);
  --secondaryText: hsl(0, 0%, 20%);
  --secondaryLinks: hsl(217, 89%, 52%);
  --titleText: #838feb;
  --navShadow: 0 4px 6px 0 hsla(0, 1%, 38%, 0.05);
  --navBorder: none;
  --navBtmShadow: 0 -2px 8px 0 hsla(0, 0%, 30%, 0.05);
  --navLink: hsl(243, 15%, 45%);

  --h1: hsl(0, 0%, 15%);
  --h: hsl(0, 0%, 20%);
  --theme: #8280ff;
  /* --theme: #2E3E4D; */
  background-color: var(--bg);
  background-color: #ffffff;
  /* background-color: #E6ECF2; */
  transition: 0.2s ease-out;
  font-family: "Tajawal", sans-serif !important;
  font-size: 1.25rem;
}

/* .mai { */
/* overflow: hidden; */
/* max-width: 44em; */
/* background-color: #f8f8f8; */
/* background-color: #ffffff; */
/* margin: 0 auto; */
/* justify-content: center; */
/* align-content: center; */
/* align-items: center; */
/* padding: 0 2.4em; */
/* margin-left: auto; */
/* margin-right: auto; */
/* max-width: 678px; */
/* margin-top: 72px; */
/* padding: 2.175rem 1.0875rem; */
/* padding-top: 0px; */
/* } */

.social-cont {
  display: flex;
  justify-content: center;
  margin-top: 0;
}
.circle-cont {
  height: 32px;
  width: 32px;
  /* background-color: #bbb; */
  border: 1px solid rgb(172, 186, 230);
  border-radius: 50%;
  display: inline-block;
  padding: 8px;
  margin-right: 10px;
}

.bg-svg {
  width: 34%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  opacity: 0.4;
}
.bg-svg2 {
  width: 34%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  opacity: 0.3;
}
.abt-svg {
  width: 40%;
  position: absolute;
  right: 0;
  margin-top: 10px;
  float: right;
  z-index: -1;
  opacity: 0.3;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 90% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-25deg);
  }
  20% {
    transform: rotate(18deg);
  }
  30% {
    transform: rotate(-12deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media only screen and (max-width: 700px) {
  /* For mobile phones: */
  .bg-svg {
    top: 0px;
    width: 37%;
  }
  
}

/* @media screen and (min-width: 360px) { */
/* .abtxt { */
/* font-size: 1.5rem; */
/* } */
/* } */
/*  */
/* @media screen and (max-width: 550px) { */
/* .abtxt { */
/* font-size: 1.75rem; */
/* } */
/* } */
/*  */
@media screen and (min-width: 450px) {
.abt-svg {
/* display: none; */
width: 20%;
margin-right: 250px;
margin-top: 5px;
}
.bg-svg2{
  opacity: 0.05;
}
}
