@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Tajawal&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
:root{
  --tgreen:#4AD991;
  --tblue:#8280ff;
  --tred:#ff7285;
  --torange:#FFC483;
}

@font-face {
  font-family: "Sans";
  font-style: normal;
  font-weight: 300;
  src: url(../styles/fonts/GoogleSans-Regular.ttf);
}
@font-face {
  font-family: "sofia";
  font-style: normal;
  font-weight: 100;
  src: url(../styles/fonts/sofia-light.otf);
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  /* font-weight: 100; */
  src: url(../styles/fonts/Gilroy-Regular.ttf);
}
@font-face {
  font-family: "product";
  font-style: normal;
  /* font-weight: 100; */
  src: url(../styles/fonts/my-font.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  --bg: white;
  --textNormal: #383838;
  --secondaryText: hsl(0, 0%, 20%);
  --secondaryLinks: hsl(217, 89%, 52%);
  --titleText: #838feb;
  --navShadow: 0 4px 6px 0 hsla(0, 1%, 38%, 0.05);
  --navBorder: none;
  --navBtmShadow: 0 -2px 8px 0 hsla(0, 0%, 30%, 0.05);
  --navLink: hsl(243, 15%, 45%);

  --h1: hsl(0, 0%, 15%);
  --h: hsl(0, 0%, 20%);
  --theme: #8280ff;
  /* --theme: #2E3E4D; */
  background-color: var(--bg);
  background-color: #ffffff;
  transition: 0.2s ease-out;
  font-family: "sans", sans-serif !important;
  font-size: 1.25rem;
}

.social-cont {
  display: flex;
  justify-content: center;
  margin-top: 0;
}
.circle-cont {
  height: 32px;
  width: 32px;
  border: 1px solid rgb(172, 186, 230);
  border-radius: 50%;
  display: inline-block;
  padding: 7.5px;
  margin-right: 10px;
}

.bg-svg {
  width: 34%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  opacity: 0.6;
}
.bg-svg2 {
  width: 34%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  opacity: 0.3;
}
.abt-svg {
  width: 40%;
  position: absolute;
  right: 0;
  margin-top: 10px;
  float: right;
  z-index: -1;
  opacity: 0.5;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 90% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-25deg);
  }
  20% {
    transform: rotate(18deg);
  }
  30% {
    transform: rotate(-12deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media only screen and (max-width: 700px) {
  /* For mobile phones: */
  .bg-svg {
    top: 0px;
    width: 37%;
  }
  
}
@media screen and (min-width: 450px) {
.abt-svg {
/* display: none; */
width: 20%;
margin-right: 250px;
margin-top: 5px;
}
.bg-svg2{
  opacity: 0.05;
}
}

a {
  color: var(--theme);
  text-decoration: none;
}


/* code imported from yash gupthaz starter */

code[class*="language-"],
pre[class*="language-"] {
  color: white;
  /* color:var(--torange); */
  background: none;
  font-family: Menlo, Monaco, source-code-pro, Courier New, monospace;
  font-feature-settings: normal;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  margin-bottom: 0;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  overflow: auto;
  padding: 1.3125rem;
}

pre[class*="language-"]::-moz-selection {
  /* Firefox */
  background: hsl(207, 4%, 16%);
}

pre[class*="language-"]::selection {
  /* Safari */
  background: hsl(207, 4%, 16%);
}

/* Text Selection colour */
pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: hsla(0, 0%, 100%, 0.15);
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection {
  text-shadow: none;
  background: hsla(0, 0%, 100%, 0.15);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  border-radius: 0.3em;
  background: var(--inlineCode-bg);
  color: var(--inlineCode-text);
  padding: 0.15em 0.2em 0.05em;
  white-space: normal;
}

.token.attr-name {
  color: rgb(173, 219, 103);
  font-style: italic;
}

.token.comment {
  color: rgb(128, 147, 147);
}

.token.string,
.token.url {
  color: rgb(173, 219, 103);
}

.token.variable {
  color: rgb(214, 222, 235);
}

.token.number {
  color: rgb(247, 140, 108);
}

.token.builtin,
.token.char,
.token.constant,
.token.function {
  color: rgb(130, 170, 255);
}

.token.punctuation {
  color: rgb(199, 146, 234);
}

.token.selector,
.token.doctype {
  color: rgb(199, 146, 234);
  font-style: "italic";
}

.token.class-name {
  color: rgb(255, 203, 139);
}

.token.tag,
.token.operator,
.token.keyword {
  color: #ffa7c4;
}

.token.boolean {
  color: rgb(255, 88, 116);
}

.token.property {
  color: rgb(128, 203, 196);
}

.token.namespace {
  color: rgb(178, 204, 214);
}

pre[data-line] {
  padding: 1em 0 1em 3em;
  position: relative;
}

.gatsby-highlight-code-line {
  background-color: hsla(207, 95%, 15%, 1);
  display: block;
  margin-right: -1.3125rem;
  margin-left: -1.3125rem;
  padding-right: 1em;
  padding-left: 1.25em;
  border-left: 0.25em solid #ffa7c4;
}

.gatsby-highlight {
  margin-bottom: 1.75rem;
  /* margin-left: -1.3125rem; */
  /* margin-right: 1px; */
  border-radius: 8px;
  background: #011627;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  box-shadow: var(--navBtmShadow);
}

@media (max-width: 672px) {
  .gatsby-highlight {
    /* border-radius: 0; */
  }
}

.gatsby-highlight pre[class*="language-"] {
  float: left;
  min-width: 100%;
}