h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "sans", sans-serif;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 1em;
  color:var(--theme);
}

body {
  font-size: 1.25rem;
  /* font-family: "Quicksand", sans-serif; */
}

p {
  line-height: 1.5em;
  font-size: 16px;
  letter-spacing: 0.08px;
  color: var(--textNormal);
  /* color: #444452; */
  /* color: #383838; */
  /* color: #24292e; */
  color: #3c4043;
  /* color: var(--secondaryText); */
  transition: "color 0.2s ease-out, background 0.2s ease-out";
 font-family: "sofia",sans-serif;
}

h1 {
  font-size: 1.4em;
  /* line-height: 1.125em; */
  color: var(--h1);
  color: #3c4043;
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--h);
}

li {
  color: var(--textNormal);
  /* line-height: 1.9em; */
  font-size: 18px;
}

.article-title{
  font-size: "1.6em",
}
@media only screen and (max-width: 700px) {
  p,
  li {
    font-size: 16px;
  }
}
@media only screen and (max-width: 600px) {
  .article-title{
/* font-size: 28px; */
  }
}
@media only screen and (max-width: 400px) {
  .article-title{
font-size: 23px;
  }
}
