footer {
  border-top: 1.4px solid var(--border-color-1);
  border-top: 1.5px dotted var(--border-color-1);
  color: var(--primary-text-color);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 0.8em;
  justify-content: space-between;
  padding-top: 1em;
  margin-top: auto;
  padding-block: 2em;
}

.social-svg-image {
  margin: 0 10px;
  width: 15px;
  height: 15px;
}
.site-footer a,
.site-footer a:visited {
  color: var(--primary-text-color);
  /* text-decoration: underline; */
}

.contact-list {
  font-size: 1.05em;
  font-family: 'Jetbrains Mono';
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.social-media-list a:hover .username {
  text-decoration: underline;
}

.social-media-list .icon {
  padding-right: 5px;
}

.social-media-list li + li {
  padding-top: 5px;
}

@media screen and (max-width: 450px) {
  footer {
    flex-direction: column;
    align-items: center;
  }
}
